*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

.container {
    display: grid;
    padding: 4rem 4rem;
    grid-template-rows: 40vh 10vh 40vh;
    grid-template-columns:  [panel-top-start] 28vw [panel-bottom-start] 34vw [panel-top-end] 28vw [panel-bottom-end];

    &__playstation {
        background-color: $play-blue;
        grid-column: panel-top-start / panel-top-end;
        grid-row: 1 / span 2;
        z-index: 2;
    }

    &__xbox {
        background-color: $xbox-green;
        grid-column: panel-bottom-start / panel-bottom-end;
        grid-row: 2 / span 2;
    }
}
