// COLOR VARIABLES
$xbox-green: #107c10;
$play-blue: #0E71CD;
$color-black: #000;
$color-white: #fff;

// FONT
$font-title: 3rem;

// BREAKPOINTS
$bp-width-medium: 56.25em;    // 900px;

$bp-height-medium: 40.625em; // 650px;
