// COLOR VARIABLES
$xbox-green: #107c10;
$play-blue: #0E71CD;
$color-black: #000;
$color-white: #fff;

// FONT
$font-title: 4.5rem;
$font-sub-title: 2.4rem;
$font-adv: 2.2rem;

// BREAKPOINTS
$bp-width-small: 43.75em;    // 700px;
$bp-width-medium: 56.25em;    // 900px;

$bp-height-medium: 40.625em; // 650px;
