.play {
    &__img {
        grid-column: play-img-start / play-img-end;
        grid-row: 1 / -1;
        z-index: 3;

        background-image: url(img/ps4.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;

        @media only screen and (max-width: $bp-width-small) {
            grid-column: play-img-start / -1;
            grid-row: 1 / span 1;
            background-position: top;
        }
    }

    &__title {
        font-family: 'Open Sans', sans-serif;
        font-size: $font-title;
        grid-column: 2 / -1;
        grid-row: 2 / span 1;
        z-index: 3;

        @media only screen and (max-width: $bp-width-small) {
            grid-column: 1 / -1;
        }

        @media only screen and (max-height: $bp-height-medium) {
            grid-row: 1 / span 1;
        }
    }

    &__adv {
        font-family: 'Open Sans', sans-serif;
        font-size: $font-sub-title;

        grid-column: play-adv-start / -1;
        grid-row: 3 / -1;
        text-align: center;

        @media only screen and (max-height: $bp-height-medium) {
            grid-row: 2 / span 2;
        }

        &--item {
            margin-top: .4rem;
            font-size: $font-adv;
            list-style: none;
            text-align: left;
        }
    }
}

.xbox {
    &__img {
        grid-column: xbox-img-start / xbox-img-end;
        grid-row: 1 / -1;

        background-image: url(img/xbox.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;

        @media only screen and (max-width: $bp-width-small) {
            grid-column: xbox-img-start / -1;
            grid-row: 1 / span 1;
            background-position: top;
        }
    }

    &__title {
        font-family: 'Open Sans', sans-serif;
        font-size: $font-title;
        grid-column: 2 / -1;
        grid-row: 2 / span 1;
        z-index: 3;

        @media only screen and (max-width: $bp-width-small) {
            grid-column: 1 / -1;
        }

        @media only screen and (max-height: $bp-height-medium) {
            grid-row: 1 / span 1;
        }
    }

    &__adv {
        font-family: 'Open Sans', sans-serif;
        font-size: $font-sub-title;

        grid-column: xbox-adv-start / -1;
        grid-row: 3 / -1;
        text-align: center;

        @media only screen and (max-height: $bp-height-medium) {
            grid-row: 2 / span 2;
        }

        &--item {
            margin-top: .4rem;
            font-size: $font-adv;
            list-style: none;
            text-align: left;
        }
    }
}
