*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  display: grid;
  padding: 2rem 2rem;
  grid-template-rows: 40vh 10vh minmax(min-content, 40vh);
  grid-template-columns: [panel-top-start] 30vw [panel-bottom-start] 34vw [panel-top-end] 30vw [panel-bottom-end]; }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 45vh 45vh; } }
  @media only screen and (max-width: 43.75em) {
    .container {
      padding: 0;
      grid-template-rows: minmax(min-content, 45vh) minmax(min-content, 45vh);
      grid-template-columns: [panel-top-start] 33vw [panel-bottom-start] 34vw [panel-top-end] 33vw [panel-bottom-end]; } }
  @media only screen and (max-height: 40.625em) {
    .container {
      grid-template-rows: minmax(min-content, 45vh) min-max(min-content, 45vh); } }
  .container__playstation {
    background-color: #0E71CD;
    color: #fff;
    grid-column: panel-top-start / panel-top-end;
    grid-row: 1 / span 2;
    z-index: 2;
    transition: all .2s;
    display: grid;
    padding: 0 1.5rem;
    grid-template-rows: 10vh 10vh min-content;
    grid-template-columns: [play-img-start] 34% [play-img-end play-adv-start] 30% [play-adv-end play-dis-start] minmax(min-content, 30%) [play-dis-end];
    grid-column-gap: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .container__playstation {
        grid-column: panel-top-start / -1;
        grid-row: 1 / span 1; } }
    @media only screen and (max-height: 40.625em) {
      .container__playstation {
        grid-column: panel-top-start / -1;
        grid-row: 1 / span 1; } }
    @media only screen and (max-width: 56.25em) {
      .container__playstation {
        padding: 1.5rem 1.5rem; } }
    @media only screen and (max-width: 43.75em) {
      .container__playstation {
        grid-row-gap: 2rem; } }
    .container__playstation:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .container__xbox {
    background-color: #107c10;
    grid-column: panel-bottom-start / panel-bottom-end;
    grid-row: 2 / span 2;
    transition: all .2s;
    display: grid;
    padding: 0 1.5rem;
    grid-template-rows: 10vh 10vh min-content;
    grid-template-columns: [xbox-img-start] 34% [xbox-img-end xbox-adv-start] 30% [xbox-adv-end xbox-dis-start] minmax(min-content, 30%) [xbox-dis-end];
    grid-column-gap: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .container__xbox {
        grid-column: panel-top-start / -1;
        grid-row: 2 / span 1; } }
    @media only screen and (max-height: 40.625em) {
      .container__xbox {
        grid-column: panel-top-start / -1;
        grid-row: 2 / span 1; } }
    @media only screen and (max-width: 56.25em) {
      .container__xbox {
        padding: 1.5rem 1.5rem; } }
    @media only screen and (max-width: 43.75em) {
      .container__xbox {
        grid-row-gap: 2rem; } }
    .container__xbox:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }

.play__img {
  grid-column: play-img-start / play-img-end;
  grid-row: 1 / -1;
  z-index: 3;
  background-image: url(img/ps4.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 43.75em) {
    .play__img {
      grid-column: play-img-start / -1;
      grid-row: 1 / span 1;
      background-position: top; } }

.play__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.5rem;
  grid-column: 2 / -1;
  grid-row: 2 / span 1;
  z-index: 3; }
  @media only screen and (max-width: 56.25em) {
    .play__title {
      grid-row: 1 / span 1; } }
  @media only screen and (max-width: 43.75em) {
    .play__title {
      grid-column: 1 / -1;
      grid-row: 2 / span 1; } }

.play__adv {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4rem;
  grid-column: play-adv-start / -1;
  grid-row: 3 / -1;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .play__adv {
      grid-row: 2 / -1; } }
  @media only screen and (max-width: 43.75em) {
    .play__adv {
      grid-column: 1 / -1;
      grid-row: 3 / span 1; } }
  .play__adv--item {
    margin-top: .4rem;
    margin-left: 2rem;
    font-size: 2.2rem;
    list-style: none;
    text-align: left; }

.xbox__img {
  grid-column: xbox-img-start / xbox-img-end;
  grid-row: 1 / -1;
  background-image: url(img/xbox.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 43.75em) {
    .xbox__img {
      grid-column: xbox-img-start / -1;
      grid-row: 1 / span 1;
      background-position: top; } }

.xbox__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.5rem;
  grid-column: 2 / -1;
  grid-row: 2 / span 1;
  z-index: 3; }
  @media only screen and (max-width: 56.25em) {
    .xbox__title {
      grid-row: 1 / span 1; } }
  @media only screen and (max-width: 43.75em) {
    .xbox__title {
      grid-column: 1 / -1;
      grid-row: 2 / span 1; } }

.xbox__adv {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4rem;
  grid-column: xbox-adv-start / -1;
  grid-row: 3 / -1;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .xbox__adv {
      grid-row: 2 / -1; } }
  @media only screen and (max-width: 43.75em) {
    .xbox__adv {
      grid-column: 1 / -1;
      grid-row: 3 / span 1; } }
  .xbox__adv--item {
    margin-top: .4rem;
    margin-left: 2rem;
    font-size: 2.2rem;
    list-style: none;
    text-align: left; }
