*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  display: grid;
  padding: 4rem 4rem;
  grid-template-rows: 40vh 10vh 40vh;
  grid-template-columns: [panel-top-start] 28vw [panel-bottom-start] 34vw [panel-top-end] 28vw [panel-bottom-end]; }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 45vh 45vh; } }
  @media only screen and (max-height: 40.625em) {
    .container {
      grid-template-rows: 45vh 45vh; } }
  .container__playstation {
    background-color: #0E71CD;
    grid-column: panel-top-start / panel-top-end;
    grid-row: 1 / span 2;
    z-index: 2;
    display: grid;
    padding: 3rem 3rem;
    grid-template-rows: 10vh 10vh 1fr;
    grid-template-columns: [play-img-start] 34% [play-img-end play-adv-start] 30% [play-adv-end play-dis-start] 30% [play-dis-end];
    grid-column-gap: 2%; }
    @media only screen and (max-width: 56.25em) {
      .container__playstation {
        grid-column: panel-top-start / -1;
        grid-row: 1 / span 1; } }
    @media only screen and (max-height: 40.625em) {
      .container__playstation {
        grid-column: panel-top-start / -1;
        grid-row: 1 / span 1; } }
  .container__xbox {
    background-color: #107c10;
    grid-column: panel-bottom-start / panel-bottom-end;
    grid-row: 2 / span 2;
    display: grid;
    padding: 3rem 3rem;
    grid-template-rows: 10vh 10vh 1fr;
    grid-template-columns: [xbox-img-start] 34% [xbox-img-end xbox-adv-start] 28% [play-adv-end play-dis-start] 28% [play-dis-end]; }
    @media only screen and (max-width: 56.25em) {
      .container__xbox {
        grid-column: panel-top-start / -1;
        grid-row: 2 / span 1; } }
    @media only screen and (max-height: 40.625em) {
      .container__xbox {
        grid-column: panel-top-start / -1;
        grid-row: 2 / span 1; } }

.play__img {
  grid-column: play-img-start / play-img-end;
  grid-row: 1 / -1;
  z-index: 3;
  background-image: url(img/ps4.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }

.play__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  background-color: yellow;
  grid-column: 2 / -1;
  grid-row: 2 / span 1;
  z-index: 3; }
  @media only screen and (max-height: 40.625em) {
    .play__title {
      grid-row: 1 / span 1; } }

.play__adv {
  background-color: orangered;
  grid-column: play-adv-start / play-adv-end;
  grid-row: 3 / -1; }
  @media only screen and (max-height: 40.625em) {
    .play__adv {
      grid-row: 2 / span 2; } }

.play__dis {
  background-color: maroon;
  grid-column: play-dis-start / play-dis-end;
  grid-row: 3 / -1; }
  @media only screen and (max-height: 40.625em) {
    .play__dis {
      grid-row: 2 / span 2; } }

.xbox__img {
  grid-column: xbox-img-start / xbox-img-end;
  grid-row: 1 / -1;
  background-image: url(img/xbox.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }
